---
layout: none
---
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="/static/vendor.css">
  <link rel="stylesheet" href="/static/site.css">
  {% include ga.html %}
</head>
<body>
  <header id="header" role="banner">
    <div class="container yue">
      <a class="logo" href="/">Eleme</a>
      {% include nav.html %}
    </div>
  </header>
  <div id="main" role="main">
    <div class="container homepage yue">
      <a class="blog" href="/blog/">
        <span class="icon icon-quill"></span>
        <h2>Blog</h2>
      </a>
      <a class="meetup" href="/meetup/">
        <span class="icon icon-spinner"></span>
        <h2>Meetup</h2>
      </a>
      <a class="projects" href="/projects/">
        <span class="icon icon-lab"></span>
        <h2>Projects</h2>
      </a>
    </div>
  </div>
  <footer id="footer" role="contentinfo">
    <div class="container yue">
      <p class="copyright">Shanghai ♥ <a href="http://ele.me/">Eleme</a></p>
    </div>
  </footer>
</body>
</html>

