<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} — {{ site.name }}</title>
  <link rel="alternate" type="application/atom+xml" title="Subscribe Feed" href="/feed.xml">
  <link rel="stylesheet" href="/static/vendor.css">
  <link rel="stylesheet" href="/static/site.css">
</head>
<body>
  <header id="header">
    <div class="container yue">
      <a class="logo" href="/">Eleme</a>
      {% include nav.html %}
    </div>
  </header>
  <div id="main">
    <div class="container">
      {{ content }}
    </div>
  </div>
  <footer id="footer">
    <div class="container yue">
      <p class="copyright">Shanghai ♥ <a href="http://ele.me/">Eleme</a></p>
    </div>
  </footer>
</body>
</html>
